<div class="container wow zoomIn">
  <h2 class="my-0 text-center" style="margin-top: 20px; margin-bottom: 30px;">&nbsp;</h2>
  <h2 class="my-0 text-center" style="margin-top: 20px; margin-bottom: 30px;">Calendarul doctorului {{ selectedDoctor.familyName }} {{ selectedDoctor.name }}</h2>
  <div class="calendar" style="padding: 10px;">
    <div class="header">
      <button class="btn btn-link" (click)="previousDay(); loadDoctorAppointments()">Ziua precedentă</button>
      <h2>{{ currentDate | date: 'dd/MM/yyyy' }}</h2>
      <button class="btn btn-link" (click)="nextDay(); loadDoctorAppointments()">Ziua următoare</button>
    </div>
    <div class="container">
      <div class="hour flex-grow-1 hour-width container clickable" *ngFor="let hour of hours" [ngClass]="{ 'booked': isTimeBooked(hour), 'unbooked': !isTimeBooked(hour) }">
        <span class="hour-text">{{ hour }}:00</span>
        <ng-container *ngFor="let slot of bookedTimeSlots">
          <ng-container *ngIf="slot.hour === hour">
            <p class="hour-text">{{ slot.patientName }} {{ slot.serviceName }}</p>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>

