<div class="container wow zoomIn">
    <h2 class="my-0 text-center" style="margin-top: 20px; margin-bottom: 30px;">&nbsp;</h2>
    <h2 class="my-0 text-center" style="margin-top: 20px; margin-bottom: 30px;">Calendarul doctorului {{ doctor }}</h2>
    <div class="calendar" style="padding: 10px;">
      <div class="header">
        <button class="btn btn-link" (click)="previousDay()">Ziua precedentă</button>
        <h2>{{ currentDate | date: 'dd/MM/yyyy' }}</h2>
        <button class="btn btn-link" (click)="nextDay()">Ziua următoare</button>
      </div>
      <div class="container">
        <div class="hour flex-grow-1 hour-width container clickable" *ngFor="let hour of hours" [class.booked]="isTimeBooked(hour)" [class.unbooked]="!isTimeBooked(hour)">
            <span class="hour-text">{{ hour }}:00</span>
            <ng-container *ngIf="isTimeBooked(hour)">
              <p class="hour-text">{{ getRandomPatientName() }} (Control dermatologic) </p>
            </ng-container>
          </div>
      </div>
    </div>
  </div>