
  .restrainthis {
    width: 90%; /* Adjust the width as desired */
    max-width: 400px; /* Set a maximum width if needed */
    margin: 0 auto; /* Center the container horizontally */
    overflow-x: hidden;
  }
