<div class="container">
  <div class="row justify-content-center align-items-center my-5">
    <div class="col-lg-4">
      <div class="appointment-form text-center p-5 wow zoomIn" data-wow-delay="0.6s">
        <h1 class="text-white mb-4">Autentificare</h1>
        <form [formGroup]="authenticationForm" (ngSubmit)="onSubmit()">
          <div class="row g-3">
            <div class="col-12">
              <input type="text" formControlName="email" class="form-control bg-light border-0" placeholder="Email" style="height: 55px;">
              
            </div>
            <div class="col-12">
              <input type="password" formControlName="password" class="form-control bg-light border-0" placeholder="Parola" style="height: 55px;">
            </div>
            <div class="col-12">
              <button class="btn btn-dark w-100 py-3" type="submit">Autentifică-te</button>
              <div *ngIf="showCredentialError" class="error-message">Credențiale greșite.</div>
              <div *ngIf="showGenericError" class="error-message">A apărut o problemă. Reîncearcă.</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
