 <!-- Navbar Start -->
 <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
    <a href=""  class="navbar-brand p-0">
        <h1 class="m-0 text-primary"><span class="heart-pulse">
            <i class="fas fa-heartbeat"></i>
          </span>              
            {{nameOfTheSite}}</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <a class="nav-item nav-link custom-link" (click)="selectPatientsView()">Listă pacienți</a>
            <a class="nav-item nav-link custom-link" (click)="selectDoctorsView()">Listă doctori</a>
            <a class="nav-item nav-link custom-link" (click)="selectAppointmentsView()">Listă programări</a>
            <a class="nav-item nav-link custom-link" (click)="selectServicesView()">Listă servicii</a>
        </div>
        
        

        <a routerLink="" class="btn btn-primary py-2 px-4 ms-3">Deautentifică-te</a>

    </div>
  </nav>
  <!-- Navbar End -->