     <!-- Team Start -->
     <div id = "team" class="container-fluid py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                    <div class="section-title bg-light rounded h-100 p-5">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">Echipa noastră</h5>
                        <h1 class="display-6 mb-4">Faceți cunoștință cu echipa noastră de medici:</h1>
                    </div>
                </div>

                
                <div class="col-lg-4 wow slideInUp" *ngFor="let doctor of doctors; let i = index" data-wow-delay="0.3s">
                    <div class="team-item">
                      <div class="position-relative rounded-top" style="z-index: 1;">
                        <img class="img-fluid rounded-top w-100 " [src]="doctor.picturePath" style="width: 400px; height: 500px;" alt="">
                      </div>
                      <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-3">
                        <h4 class="mb-0">{{ doctor.name }}</h4>
                        <p class="text-primary mb-0">{{doctor.doctorTitle}}</p>
                      </div>
                    </div>
                  </div>

            </div>
        </div>
    </div>
    <!-- Team End -->