<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
    <a class="navbar-brand p-0">
        <h1 class="m-0 text-primary"><span class="heart-pulse">
            <i class="fas fa-heartbeat"></i>
          </span>              
            {{nameOfTheSite}}</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <a  (click)="goBackToAdminPanel()" class="nav-item nav-link custom-link">Înapoi la panoul de control</a>
            <div class="d-flex align-items-center ms-3">
          </div>
        </div>
    </div>
  </nav>


<div class="container">
    <div class="row">
        <h2 class="my-4 text-center">Editează pacient</h2>
      <div class="col-md-6 offset-md-3 text-center">
        <div class="card">
            <img [src]="selectedPatient?.picturePath" alt="Patient Photo" class="card-img-top rounded-circle mx-auto" style="width: 300px; height: 300px;">
        
            <div class="form-group">
                <label for="fileUpload" class="form-label">Alege o fotografie</label>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="fileUpload" accept=".jpg, .jpeg, .png">
                  <label class="custom-file-label" for="fileUpload">{{ 'Selectează fișierul' }}</label>
                </div>
              </div>
              

          <div class="card-body">

            <form (submit)="saveChanges()" class="patient-form">
              
              <div class="form-group">
                <label for="userid" class="form-label">UserID</label>
                <input type="text" class="form-control" id="userid" name="userid" [value]="selectedPatient?.userId" readonly>
              </div>
          
              
              <div class="form-group">
                  <label for="id" class="form-label">ID</label>
                  <input type="text" class="form-control" id="id" name="id" [value]="selectedPatient?.patientId" readonly>
                </div>
            
                <div class="form-group">
                  <label for="name" class="form-label">Nume</label>
                  <input type="text" class="form-control" id="name" (input)="onNameChange($event)" name="name" [value]="selectedPatient?.name">
                </div>
            
                <div class="form-group">
                  <label for="surname" class="form-label">Nume de familie</label>
                  <input type="text" class="form-control" id="surname" (input)="onSurnameChange($event)" name="familyName" [value]="selectedPatient?.familyName">
                </div>
            
                <div class="form-group">
                  <label for="phoneNumber" class="form-label">Număr de telefon</label>
                  <input type="text" class="form-control" id="phoneNumber" (input)="onPhoneNumberChange($event)" name="telephone" [value]="selectedPatient?.telephone">
                </div>
            
                <div class="form-group">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" (input)="onEmailChange($event)" name="email" [value]="selectedPatient?.email">
                </div>
            
                <div class="form-group">
                  <label for="cnp" class="form-label">CNP</label>
                  <input type="text" class="form-control" id="cnp" (input)="onCnpChange($event)" name="cnp" [value]="selectedPatient?.cnp">
                </div>
            
                <button type="submit" class="btn btn-primary btn-lg mt-3">Salvează schimbările</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
