    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light py-5 wow fadeInUp" data-wow-delay="0.3s" style="margin-top: -75px;">
        <div class="container pt-5">
            <div class="row g-5 pt-4">
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-white mb-4">Link-uri rapide</h3>
                    <div class="d-flex flex-column justify-content-start">
                      <a class="text-light mb-0" (click)="scrollToSection('header-carousel')" class="bi bi-arrow-right text-primary me-2 nav-item nav-link custom-link">Acasă</a>
                      <a class="text-light mb-0" (click)="scrollToSection('aboutUs')" class="bi bi-arrow-right text-primary me-2 nav-item nav-link custom-link">Despre noi</a>
                      <a class="text-light mb-0" (click)="scrollToSection('services')" class="bi bi-arrow-right text-primary me-2 nav-item nav-link custom-link">Serviciile noastre</a>
                      <a class="text-light mb-0" (click)="scrollToSection('team')" class="bi bi-arrow-right text-primary me-2 nav-item nav-link custom-link" >Echipa noastră</a>
                      <a class="text-light mb-0" (click)="scrollToSection('threeSquares')" class=" bi bi-arrow-right text-primary me-2 nav-item nav-link custom-link">Contactează-ne</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-white mb-4">Link-uri populare</h3>
                    <div class="d-flex flex-column justify-content-start">
                      <a class="text-light mb-0" (click)="scrollToSection('header-carousel')" class="bi bi-arrow-right text-primary me-2 nav-item nav-link custom-link">Acasă</a>
                      <a class="text-light mb-0" (click)="scrollToSection('aboutUs')" class="bi bi-arrow-right text-primary me-2 nav-item nav-link custom-link">Despre noi</a>
                      <a class="text-light mb-0" (click)="scrollToSection('services')" class="bi bi-arrow-right text-primary me-2 nav-item nav-link custom-link">Serviciile noastre</a>
                      <a class="text-light mb-0" (click)="scrollToSection('team')" class="bi bi-arrow-right text-primary me-2 nav-item nav-link custom-link" >Echipa noastră</a>
                      <a class="text-light mb-0" (click)="scrollToSection('threeSquares')" class=" bi bi-arrow-right text-primary me-2 nav-item nav-link custom-link">Contactează-ne</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-white mb-4">Detalii de contact</h3>
                    <p class="mb-2"><i class="bi bi-geo-alt text-primary me-2"></i><a class="text-white border-bottom" href="http://maps.google.com/?q={{ourAdress}}">{{ourAdress}}</a></p>
                    <p class="mb-2"><i class="bi bi-envelope text-primary me-2"></i><a class="text-white border-bottom" href="mailto:{{contactEmail}}">{{contactEmail}}</a></p>
                    <p class="mb-0"><i class="bi bi-telephone text-primary me-2"></i><a class="text-white border-bottom" href="tel:{{phoneNumber}}">{{phoneNumber}}</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-light py-4" style="background: #051225;">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">&copy; <a class="text-white border-bottom" href="https://github.com/bgdalb">Alban Bogdan-Valentin</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>   
    </div>
    <!-- Footer End -->


     <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>